extends layout

block content
  h2 Events by #{organizer_name}

  if events.length > 0
    table
      thead
        tr
          th ID
          th Name
          th Type
          th Description
          th Location
          th Start
          th End
          th Budget
          th Status
          th Attendees
      tbody
        each e in events
          tr
            td= e.event_ID
            td= e.event_name
            td= e.event_type
            td= e.event_description
            td= e.location
            td= e.start_datetime
            td= e.end_datetime
            td= e.estimated_budget
            td= e.status
            td
              a(href=`/event/${e.event_ID}/attendees`)= e.attendee_count
  else
    p No events found.

  a(href="/events") â† Back to Events
